<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <!--    <th:block th:insert="layout :: head">-->
    <!--    </th:block>-->
</head>
<body>
<h2>Add Customer</h2>
<p>
    <a th:href="@{/admin/customer}">
        Back to customer list
    </a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form th:action="@{/admin/customer/create}" th:object="${customer}"
          method="POST">
        <div>
            <label>Name</label>
            <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
            <input type="text" th:field="*{fullName}"/>
        </div>
        <div>
            <label>Birthday</label>
            <p th:if="${#fields.hasErrors('birthday')}" th:text="#{customer.birthday}"></p>
            <input id="datepicker" type="text" th:field="*{birthday}">
        </div>
        <div>
            <label>ID Card</label>
            <p th:if="${#fields.hasErrors('id_card')}" th:errors="*{id_card}"></p>
            <input type="text" th:field="*{id_card}"/>
        </div>
        <div>
            <label>Phone Name</label>
            <p th:if="${#fields.hasErrors('phone_number')}" th:errors="*{phone_number}"></p>
            <input type="text" th:field="*{phone_number}"/>
        </div>
        <div>
            <label>Email</label>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <input type="email" th:field="*{email}"/>
        </div>
        <div>
            <label>Address</label>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
            <input type="text" th:field="*{address}"/>
        </div>
        <div>
            <td>Type Customer</td>
            <td>
                <select th:field="*{typeCustomer}">
                    <option th:each="u : ${typeCustomer}" th:value="${u.id}" th:text="${u.type_customer_name}"></option>
                </select>
            </td>
        </div>

        <input type="submit" value="Save"></input>

    </form>
</div>
<footer th:replace="layout :: footer"></footer>
<script>
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
        autoclose: true,
        todayHighlight: true
    });

</script>
</body>
</html>