<!DOCTYPE html>
<html lang="en">


<h1>Show a Date Control</h1>

<form action="/action_page.php">
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" onchange="mydate1();" name="birthday">
    <input type="submit">
</form>

<p><strong>Note:</strong> type="date" is not supported in Safari or Internet Explorer 11 (or earlier).</p>
<script>
    function mydate1() {
        date = document.getElementById("birthday").value;
        arr = date.split("-");
        dd = arr[2];
        mm = arr[1];
        yyyy = arr[0];
        document.getElementById("birthday").value = dd + "/" + mm + "/" + yyyy;

    }
</script>
</body>
</html>
