<h3 class="text-center">Chỉnh sửa thông tin nhân viên</h3>

<form class="w-75 mx-auto mt-3" [formGroup]="formEditEmployee">
    <div class="form-group">
        <p>Họ Và Tên</p>
        <input type="text" class="form-control" formControlName="fullName">
        <p *ngIf="formEditEmployee.controls.fullName.errors?.required && formEditEmployee.controls.fullName.touched" class="text-danger">Vui lòng nhập họ tên</p>
    </div>
    <div class="form-group">
        <p>Vị Trí</p>
        <input type="text" class="form-control"formControlName="position">
        <p *ngIf="formEditEmployee.controls.position.errors?.required && formEditEmployee.controls.position.touched" class="text-danger">Vui lòng nhập vị trí</p>
    </div>
    <div class="form-group">
        <p>Trình Độ Học Vấn</p>
        <input type="text" class="form-control"formControlName="academicLevel">
        <p *ngIf="formEditEmployee.controls.academicLevel.errors?.required && formEditEmployee.controls.academicLevel.touched" class="text-danger">Vui lòng nhập trình độ học vấn</p>
    </div>
    <div class="form-group">
        <p>Bộ Phận</p>
        <input type="text" class="form-control"formControlName="part">
        <p *ngIf="formEditEmployee.controls.part.errors?.required && formEditEmployee.controls.part.touched" class="text-danger">Vui lòng nhập bộ phận</p>
    </div>
    <div class="form-group">
        <p>Ngày Sinh</p>
        <mat-form-field>
            <input class="form-control"formControlName="dateOfBirth"
             matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" ></mat-datepicker>
          </mat-form-field>
        <p *ngIf="formEditEmployee.controls.dateOfBirth.errors?.required && formEditEmployee.controls.dateOfBirth.touched" 
        class="text-danger">Vui lòng nhập ngày sinh</p>
        
    </div>
    <div class="form-group">
        <p>Số CMND</p>
        <input type="text" class="form-control"formControlName="IDnumber">
        <p *ngIf="formEditEmployee.controls.IDnumber.errors?.required && formEditEmployee.controls.IDnumber.touched" 
        class="text-danger">Vui lòng nhập số CMND</p>
        <p *ngIf="formEditEmployee.controls.IDnumber.errors?.pattern && formEditEmployee.controls.IDnumber.touched" 
        class="text-danger">Số CMND không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Lương</p>
        <input type="text" class="form-control"formControlName="salary">
        <p *ngIf="formEditEmployee.controls.salary.errors?.required && formEditEmployee.controls.salary.touched" 
        class="text-danger">Vui lòng nhập lương</p>
        <p *ngIf="formEditEmployee.controls.salary.errors?.pattern && formEditEmployee.controls.salary.touched" 
        class="text-danger">Vui lòng nhập lương đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Email</p>
        <input type="text" class="form-control"formControlName="email">
        <p *ngIf="formEditEmployee.controls.email.errors?.required && formEditEmployee.controls.email.touched"
         class="text-danger">Vui lòng nhập email</p>
         <p *ngIf="formEditEmployee.controls.email.errors?.email && formEditEmployee.controls.email.touched"
         class="text-danger">Email không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Số Điện Thoại</p>
        <input type="text" class="form-control"formControlName="phone">
        <p *ngIf="formEditEmployee.controls.phone.errors?.required && formEditEmployee.controls.phone.touched"
         class="text-danger">Vui lòng nhập số điện thoại</p>
         <p *ngIf="formEditEmployee.controls.phone.errors?.pattern && formEditEmployee.controls.phone.touched"
         class="text-danger">Số điện thoại không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Địa Chỉ</p>
        <input type="text" class="form-control"formControlName="address">
        <p *ngIf="formEditEmployee.controls.address.errors?.required && formEditEmployee.controls.address.touched" class="text-danger">Vui lòng nhập địa chỉ</p>
    </div>
    <div class="form-group d-flex justify-content-center">
        <button [disabled]="formEditEmployee.invalid" class="btn btn-success mt-3" (click)="editEmployee()">Lưu Dữ Liệu</button>
    </div>

</form>