<div class="row justify-content-between">
    <h2>Danh sách nhân viên</h2>
    <div class="d-flex">
        <input  class="form-control mr-2" type="text" style="width: 450px;" placeholder="Tìm kiếm theo tên nhân viên" [(ngModel)]="term">
        <button class="btn btn-outline-success mx-0 " style="height: 38px;">Search</button>
    </div>
</div> 

<div class="row m-3 px-3">
    <button class="btn btn-outline-primary" [routerLink]="['/employee-add']">Thêm Mới</button>
    <table class="table mt-3 table-striped" style="font-size: 12px;">
        <thead>
            <tr style="text-align: center;">
              <th>ID</th>
              <th>Full Name</th>
              <th>Position</th>
              <th>Education</th>
              <th>Department</th>
              <th>ID Card</th>
              <th>Salary</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let employee of employees |filter:term | paginate: { itemsPerPage: 3, currentPage: p } ">
                <td>{{employee.id}}</td>
                <td>{{employee.fullName}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.academicLevel}}</td>
                <td>{{employee.part}}</td>
                <td *ngFor="let format of formatsDateTest">

                    {{ employee.dateOfBirth| date: format}}
                   
                </td>
                <td>{{employee.IDnumber}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.address}}</td>       
                <td style="width: 13%;">
                    <button style="width: 43%; text-align: center;" class="btn btn-sm btn-warning mr-3" [routerLink]="['/employee-edit/'+employee.id]">Sửa</button>
                    <button style="width: 43%;text-align: center;" class="btn btn-sm btn-danger" (click)=openDialog(employee.id)>Xóa</button>
                </td>
            </tr>
        
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
