<div class="row justify-content-between">
    <h2>Danh sách hợp đồng chi tiết</h2>
    <div class="d-flex">
        <input type="text" class="form-control mr-2" style="width: 450px;" placeholder="Tìm kiếm thông tin hợp đồng" [(ngModel)]="search">
        <button class="btn btn-outline-success mx-0" style="height: 38px;">Search</button>
    </div>
</div>

<div class="row m-3 px-3">
    <button class="btn btn-outline-primary" [routerLink]="['/contract-detail-add']">Thêm mới</button>
    <table class="table table-striped mt-3" style="font-size: 12px;">
        <thead>
            <tr style="text-align: center;">
                <th>ID</th>
                <th>Mã Hợp Đồng</th>
                <th>Mã Hợp Đồng Chi Tiết</th>
                <th>Số Lượng</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" *ngFor="let contractDetail of contractDetails |filter:search |paginate: {itemsPerPage: 5,currentPage:p}">
                <td>{{contractDetail.id}}</td>
                <td>{{contractDetail.HDcode}}</td>
                <td>{{contractDetail.DVcode}}</td>
                <td>{{contractDetail.amount}} </td>
                <td style="width: 13%;">
                    <button style="width: 43%; text-align: center;" class="btn btn-sm btn-warning mr-3" [routerLink]="['/contract-detail-edit/'+contractDetail.id]">Sửa</button>
                    <button style="width: 43%;text-align: center;" class="btn btn-sm btn-danger" (click)=openDialog(contractDetail.id)>Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>