<h3 class="text-center">Thêm mới dịch vụ</h3>

<form class="w-75 mx-auto mt-3" [formGroup]="formAddNewService">
    <div class="form-group">
        <p>Tên dịch vụ</p>
        <input type="text" class="form-control" formControlName="serviceName">
        <p *ngIf="formAddNewService.controls.serviceName.errors?.required && formAddNewService.controls.serviceName.touched" class="text-danger">Vui lòng nhập tên dịch vụ</p>
    </div>
    <div class="form-group">
        <p>Mã Dịch Vụ</p>
        <input type="text" class="form-control"formControlName="code">
        <p *ngIf="formAddNewService.controls.code.errors?.required && 
        formAddNewService.controls.code.touched" class="text-danger">Vui lòng nhập mã dịch vụ</p>
        <p *ngIf="formAddNewService.controls.code.errors?.pattern &&
        formAddNewService.controls.code.touched" class="text-danger">Mã dịch vụ không đúng định dạng</p>
    </div>
  
    <div class="form-group">
        <p>Diện Tích</p>
        <input type="text" class="form-control"formControlName="area">
        <p *ngIf="formAddNewService.controls.area.errors?.required && formAddNewService.controls.area.touched" 
        class="text-danger">Vui lòng nhập diện tích</p>
        <p *ngIf="formAddNewService.controls.area.errors?.pattern && formAddNewService.controls.area.touched" 
        class="text-danger">Diện tích không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Số Tầng</p>
        <input type="text" class="form-control"formControlName="numberOfFloors">
        <p *ngIf="formAddNewService.controls.numberOfFloors.errors?.required && formAddNewService.controls.numberOfFloors.touched" 
        class="text-danger">Vui lòng nhập số tầng</p>
        <p *ngIf="formAddNewService.controls.numberOfFloors.errors?.pattern && formAddNewService.controls.numberOfFloors.touched" 
        class="text-danger">Số tầng không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Số Người</p>
        <input type="text" class="form-control"formControlName="maximumNumberOfPeople">
        <p *ngIf="formAddNewService.controls.maximumNumberOfPeople.errors?.required && formAddNewService.controls.maximumNumberOfPeople.touched" 
        class="text-danger">Vui lòng nhập số người</p>
        <p *ngIf="formAddNewService.controls.maximumNumberOfPeople.errors?.pattern && formAddNewService.controls.maximumNumberOfPeople.touched" 
        class="text-danger">Số người không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Giá thuê</p>
        <input type="text" class="form-control"formControlName="rentalCosts">
        <p *ngIf="formAddNewService.controls.rentalCosts.errors?.required && formAddNewService.controls.rentalCosts.touched" 
        class="text-danger">Vui lòng nhập giá thuê</p>
        <p *ngIf="formAddNewService.controls.rentalCosts.errors?.pattern && formAddNewService.controls.rentalCosts.touched" 
        class="text-danger">Giá thuê không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Kiểu thuê</p>
        <input type="text" class="form-control"formControlName="rentalTypeCode">
        <p *ngIf="formAddNewService.controls.rentalTypeCode.errors?.required && formAddNewService.controls.rentalTypeCode.touched" 
        class="text-danger">Vui lòng nhập kiểu thuê</p>
        <p *ngIf="formAddNewService.controls.rentalTypeCode.errors?.pattern && formAddNewService.controls.rentalTypeCode.touched" 
        class="text-danger">Kiểu thuê không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Trạng thái</p>
        <input type="text" class="form-control"formControlName="status">
        <p *ngIf="formAddNewService.controls.status.errors?.required && formAddNewService.controls.status.touched" 
        class="text-danger">Vui lòng nhập trạng thái</p>
    </div>

    <div class="form-group d-flex justify-content-center">
        <button [disabled]="formAddNewService.invalid" class="btn btn-success mt-3" (click)="addNewService()">Thêm mới</button>
    </div>

</form>