<h3 class="text-center">Chỉnh sửa thông tin hợp đồng</h3>

<form class="w-75 mx-auto mt-3" [formGroup]="formEditContract">
    <div class="form-group">
        <p>Mã Nhân Viên</p>
        <input type="text" class="form-control" formControlName="NVcode">
        <p *ngIf="formEditContract.controls.NVcode.errors?.required 
        && formEditContract.controls.NVcode.touched" class="text-danger">Vui lòng nhập mã nhân viên</p>
        <p *ngIf="formEditContract.controls.NVcode.errors?.pattern 
        && formEditContract.controls.NVcode.touched" class="text-danger">Mã nhân viên không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Mã Khách Hàng</p>
        <input type="text" class="form-control"formControlName="KHcode">
        <p *ngIf="formEditContract.controls.KHcode.errors?.required && 
        formEditContract.controls.KHcode.touched" class="text-danger">Vui lòng nhập mã khách hàng</p>
        <p *ngIf="formEditContract.controls.KHcode.errors?.pattern &&
        formEditContract.controls.KHcode.touched" class="text-danger">Mã khách hàng không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Mã Dịch Vụ</p>
        <input type="text" class="form-control"formControlName="DVcode">
        <p *ngIf="formEditContract.controls.DVcode.errors?.required && 
        formEditContract.controls.DVcode.touched" class="text-danger">Vui lòng nhập mã dịch vụ</p>
        <p *ngIf="formEditContract.controls.DVcode.errors?.pattern &&
        formEditContract.controls.DVcode.touched" class="text-danger">Mã dịch vụ không đúng định dạng</p>
    </div>
    
    <div class="form-group">
        <p>Ngày bắt đầu hợp đồng</p>
        <mat-form-field>
            <input class="form-control"formControlName="startDate"
             matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" ></mat-datepicker>
          </mat-form-field>
        <p *ngIf="formEditContract.controls.startDate.errors?.required 
        && formEditContract.controls.startDate.touched" 
        class="text-danger">Vui lòng chọn ngày bắt đầu hợp đồng</p>  
    </div>
    <div class="form-group">
        <p>Ngày kết thúc hợp đồng</p>
        <mat-form-field>
            <input class="form-control"formControlName="endDate"
             matInput [matDatepicker]="picker1" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year" ></mat-datepicker>
          </mat-form-field>
        <p *ngIf="formEditContract.controls.endDate.errors?.required 
        && formEditContract.controls.endDate.touched" 
        class="text-danger">Vui lòng chọn ngày kết thúc hợp đồng</p>  
    </div>

    <div class="form-group">
        <p>Tiền cọc</p>
        <input type="text" class="form-control"formControlName="deposit">
        <p *ngIf="formEditContract.controls.deposit.errors?.required 
        && formEditContract.controls.deposit.touched" 
        class="text-danger">Vui lòng nhập số CMND</p>
        <p *ngIf="formEditContract.controls.deposit.errors?.pattern 
        && formEditContract.controls.deposit.touched" 
        class="text-danger">Tiền cọc không đúng định dạng</p>
    </div>
    <div class="form-group">
        <p>Tổng Tiền</p>
        <input type="text" class="form-control"formControlName="total">
        <p *ngIf="formEditContract.controls.total.errors?.required 
        && formEditContract.controls.total.touched" 
        class="text-danger">Vui lòng nhập số tổng tiền/p>
        <p *ngIf="formEditContract.controls.total.errors?.pattern 
        && formEditContract.controls.total.touched" 
        class="text-danger">tổng tiền không đúng định dạng</p>
    </div>
 
    <div class="form-group d-flex justify-content-center">
        <button [disabled]="formEditContract.invalid" class="btn btn-success mt-3" (click)="editContract()">Lưu</button>
    </div>

</form>