<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h2>Edit Service</h2>
<p>
    <a th:href="@{/admin/service}">
        List Service
    </a>
</p>
<div id="form">
    <form th:action="@{/admin/service/update}" th:object="${service}"
          method="POST" novalidate="novalidate">
        <input th:type="hidden" name="id" th:field="*{id}">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{serviceName}"/>
        </div>
        <div>
            <label>Status</label>
            <input type="text" th:field="*{service_status}"/>
        </div>
        <div>
            <label>Area Used</label>
            <input type="text" th:field="*{area_used}"/>
        </div>
        <div>
            <label>Number Floors</label>
            <input type="text" th:field="*{number_floors}"/>
        </div>
        <div>
            <label>Number People</label>
            <input type="text" th:field="*{number_max_people}"/>
        </div>
        <div>
            <label>Rental Cost</label>
            <input type="text" th:field="*{rental_costs}"/>
        </div>

        <td>
            <select th:field="*{typeRent}">
                <option th:each="u : ${typeRents}" th:value="${u.id}" th:text="${u.type_rent_name}"></option>
            </select>
        </td>
        <td>Type Services</td>
        <td>
            <select th:field="*{typeServices}">
                <option th:each="u : ${typeServices}" th:value="${u.id}" th:text="${u.type_services_name}"></option>
            </select>
        </td>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>