<table class="table">
    <tr>
        <td class="cot-1">
            <div>
                <img class="anhthe" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTC3s3PjKE9QEN9OogRBNIZZAL4TrCDOol44hF5DynqH0rFGCZM&usqp=CAU" width="110" height="120">
                <br>
                <br>
                <a id="change" href="#">Change</a>
                <a id="delete" href="#">Delete</a>
            </div>
        </td>
        <td><b id="name">Trần Minh Triều</b></td>
     <td class="edit" ><a href="#">Edit</a></td>
    </tr>
    <tr>
        <td class="cot-1">Personal Meeting ID</td>
        <td>
            <b>531-456-789</b>
            <br>
            <br>
            <b>http://dev.zoom.vn</b>
            <br>
            <br>
            <span> <svg class="bi bi-x" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
        clip-rule="evenodd"/>

            </svg> User this ID for instant meetings</span>
        </td>
     <td class="edit" ><a href="#">Edit</a></td>
    </tr>
    <tr>
        <td class="cot-1">Sign-In Email</td>
        <td><b>tranminhtrieudn@gmail.com</b>
            <br>
            <br>
            <b>Linked account:  <span class="glyphicon glyphicon-envelope"></span></b></td>
     <td class="edit" ><a href="#">Edit</a></td>
    </tr>
    <tr>
        <td class="cot-1">User  Type</td>
        <td><b id="basic">Basic</b> <span class="glyphicon glyphicon-question-sign">  <a id="upgrade" href="#">Upgrade</a></span></td>
        <td></td>
    </tr>
    <tr>
        <td class="cot-1">Capacity</td>
        <td><b>Meeting</b> <span id="meeting">100</span><span class="glyphicon glyphicon-question-sign"></span></td>
        <td></td>
    </tr>
    <tr>
        <td class="cot-1">Language</td>
        <td><b>English</b></td>
     <td class="edit" ><a href="#">Edit</a></td>
    </tr>
    <tr>
        <td class="cot-1">Date and Time</td>
        <td>
            <span ><b >Time Zone</b> <span id="time-zone" >(GMT)Central Time(US and Canada)</span></span>
            <br>
            <br>
            <span ><b >Date Format</b> <span id="date-format" >mm/dd/yyyy</span> <span id="example">Example: 08/15/2001</span></span>
            <br>
            <br>
            <span><b >Time Format</b><svg id="time-format" class="bi bi-x" width="1.2em" height="1.2em" viewBox="0 0 16 16"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
        clip-rule="evenodd"/>
            </svg>Use 24-hour time</span>
        </td>
     <td class="edit" ><a href="#">Edit</a></td>
    </tr>
<tr>
 <td class="cot-1">Sign-in Password</td>
 <td>
  <svg class="bi bi-circle-fill" width="0.5em" height="0.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <circle cx="8" cy="8" r="8"/>
 </svg>
  <svg class="bi bi-circle-fill" width="0.5em" height="0.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
   <circle cx="8" cy="8" r="8"/>
  </svg>
  <svg class="bi bi-circle-fill" width="0.5em" height="0.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
   <circle cx="8" cy="8" r="8"/>
  </svg>
  <svg class="bi bi-circle-fill" width="0.5em" height="0.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
   <circle cx="8" cy="8" r="8"/>
  </svg>
  <svg class="bi bi-circle-fill" width="0.5em" height="0.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
   <circle cx="8" cy="8" r="8"/>
  </svg>
  <svg class="bi bi-circle-fill" width="0.5em" height="0.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
   <circle cx="8" cy="8" r="8"/>
  </svg>
  <svg class="bi bi-circle-fill" width="0.5em" height="0.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
   <circle cx="8" cy="8" r="8"/>
  </svg>
 </td>
 <td class="edit"><a href="#">Edit</a></td>
 </tr>
 <tr>
  <td class="cot-1">Sign-In Device</td>
  <td><a href="#" id="sign">Sign Me Out Form Devices</a> <span class="glyphicon glyphicon-question-sign"></span></td>
  <td></td>
 </tr>
 <tr>
  <td class="cot-1">Samsung Phone Number:</td>
  <td></td>
  <td class="edit"><a href="#">Edit</a></td>
 </tr>
</table>

