<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateBlog</title>
</head>
<body>
<a href="/blog">ShowBlog</a>
<h1>Blog</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
    <form th:action="@{/create-blog}" th:object="${blog}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Context:</td>
                <td><textarea rows="5" cols="50" type="text" th:field="*{context}"/></td>
            </tr>
            <tr>
            <td>Tacgia:</td>
            <td><input type="text" th:field="*{tacgia}"/></td>
            </tr>
            <tr>
                <td>Catelogy:</td>
                <td>
                    <select name="category">
                        <option th:each="p : ${category}"
                                th:value="${p.idCategory}"
                                th:text="${p.name}" ></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="UpdateBlog"></td>
            </tr>
        </table>
    </form>
</body>
</html>