<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeleteBlog</title>
</head>
<body>
<p>
    <a href="/blog"></a>
</p>
<h2>Delete Blog</h2>
    <form th:action="@{/delete-blog}" th:object="${blog}" method="post">
        <input th:type="hidden" name="if" th:field="*{idBlog}">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td>Context:</td>
                <td th:text="*{context}"></td>
            </tr>
            <tr>
                <td>Tacgia:</td>
                <td th:text="*{tacgia}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete blog"></td>
            </tr>
        </table>
    </form>

</body>
</html>